* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;


}

#navbar {
    display: none;
}

#topheader {
    width: 100%;
    background-color: rgb(24, 26, 30);
    color: white;
    justify-content: space-between;
}

.top {
    width: 100%;


}

#header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: -50px;
}

#header div {
    width: 30%;
}

#logo {
    width: 20%;
}

#logo img {
    width: 100%;
}

#icon {
    width: 100%;
    text-align: right;
    margin-top: -10px;
}

#meanu {
    width: 100%;
    margin-bottom: 10px;
}

#login {
    width: 90%;
    background-color: rgb(240, 237, 237);
    padding: 60px 40px;
    margin: 0 auto;

}


.logintext {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 30px;

}

.logintext p {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 10%;

}

.email {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-right: 26%;
    margin-top: 10%;
    background-color: white;



}

.pass {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-right: 26%;
    margin-top: 10%;
    background-color: white;


}

.sign button {
    width: 60%;
    background-color: red;
    border: none;
    padding: 5px 5px;

}

.sign {
    width: 100%;
    padding-left: 18%;
    margin-top: 10%;

}

.create {
    width: 100%;
    padding-left: 13%;
    margin-top: 10%;
}

#footer {
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(97, 96, 96);
    margin-top: 20%;
}

.footer-item1 img {
    width: 50%;

}

.footer-item1 p,
i {
    width: 100%;
    margin: 30px 10px;


}


.footer-item2 p,
i {
    width: 100%;
    margin: 10px 10px;

}


.footer-item3 p,
i {
    width: 100%;
    margin: 10px 10px;


}

.footer-item4 img {
    width: 92%;
    margin: 10px 10px;


}

.footer-item5 {
    width: 100%;
    align-items: center;

    padding: 40px 20px;
}

@media only screen and (min-width:768px) {
    #topheader {
        color: white;
        text-align: right;
    }

    #header {
        text-align: right;
    }


    #login {
        width: 65%;
        background-color: rgb(240, 237, 237);
        padding: 60px 40px;
        margin: 0 auto;

    }

    .logintext {
        width: 100%;
        font-size: 25px;


    }

    .email {
        width: 60%;
        font-size: 25px;
        padding-left: -30px;
    }

    .pass {
        width: 60%;
        font-size: 25px;
        padding-right: -30px;
        margin-top: 15px;

    }

    .sign {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding-left: 1%;
        justify-content: space-between;
    }

    .sign button {
        width: 20%;
        background-color: red;
        padding: 5px 5px;
    }

    .sign p {
        width: 50%;
        padding-left: -50px;
    }

    .create {
        width: 50%;
        text-align: left;
        margin-top: 5%;
        padding: 10px 10px;
    }

    #footer {
        display: flex;
        flex-wrap: wrap;

    }

    .footer-item1 {
        width: 47%;
        padding-right: 150px;
    }

    .footer-item2 {
        margin-top: 50px;
    }

    .footer-item3 {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-item4 {
        padding-left: 50%;
        margin-top: -40%;
    }

    .footer-item5 {
        padding-right: 40%;

    }

}

@media only screen and (min-width:1200px) {
    #topheader {
        text-align: right;
    }

    #header {
        text-align: right;
    }

    #navbar {
        width: 100%;
        display: block;
        justify-content: space-between;
        padding-right: 10px;
        padding: 20px 50px;
        font-size: 20px;
    }

    #meanu {
        display: none;
    }

    #login {
        width: 40%;
        padding: 70px 30px;

    }

    .logintext {
        width: 90%;
    }

    #footer {
        display: flex;
        flex-wrap: wrap;

    }

    .footer-item1 {
        width: 47%;
        padding-right: 150px;
    }

    .footer-item2 {

        margin-top: 50px;
    }

    .footer-item3 {
        margin-top: 50px;
        margin-bottom: 200px;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-item4 {

        padding-left: 70%;
        margin-top: -28%;
    }



}